<% content_for :title, "Projects" %>

<div class="w-full p-4 pt-20 md:px-16">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      Projects
      (<%= @projects.count %>/<%= @current_user.project_quota %>)
    </h1>
    <% if @current_user && @current_user.projects.count < @current_user.project_quota %>
      <%= link_to "New project", new_project_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium", data: { turbo: false } %>
    <% end %>
  </div>

  <div id="projects" class="min-w-full space-y-5">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <%= link_to edit_project_path(project), class: "block rounded-xl bg-white p-4 m-3 ring-2 ring-gray-100 hover:ring-indigo-200 sm:p-6 lg:p-8", data: { turbo: false } do %>
          <span class="flex items-start sm:gap-8">
            <span class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center" aria-hidden="true">
              <%= image_tag "/icon.svg", alt: "PreTeXt.Plus icon" %>
            </span>

            <span>
              <strong class="rounded-sm border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white">
                Project
              </strong>

              <h3 class="mt-4 text-lg font-medium sm:text-xl">
                <%= project.title %>
              </h3>

              <p class="mt-1 text-sm text-gray-700">
                Last updated: <%= project.updated_at %>
              </p>
            </span>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found.</p>
    <% end %>
    <% unless @current_user.invited? or @current_user.sustaining_subscription? %>
      <div class="rounded-lg border-2 border-blue-500 p-4 text-sky-900 mt-6 mx-auto md:w-3/4">
        <p>
          Thanks for creating a <span class="font-semibold">PreTeXt.Plus</span> account! While we're
          in our beta release period, new users need to either be invited by existing users, or
          <%= link_to session_path, class: "font-semibold text-blue-700 hover:underline" do %>subscribe to our paid Sustainer tier<% end %>
          in order to create projects.
        </p>
        <div class="mt-4">
          <%= form_with url: redeem_invitation_path, method: :post, local: true, class: "flex gap-2 items-center" do |f| %>
            <%= f.label :code, "Enter invite code:", class: "font-semibold" %>
            <%= f.text_field :code, placeholder: "Example: 91cc5d85-f0f8-4ceb-92c0-aaa435648a81", class: "flex-1 rounded-md border border-gray-300 px-3 py-2 text-sm" %>
            <%= f.submit "Redeem", class: "rounded-md px-3.5 py-2 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
          <% end %>
        </div>
        <div class="mt-4 flex gap-2 items-center">
          <span class="font-semibold">Or</span>
          <%= link_to session_path, class: "rounded-md px-3.5 py-2 bg-green-600 hover:bg-green-500 text-white font-medium" do %>
            Subscribe
          <% end %>
          <% unless @current_user.requested_invitation? %>
            <%= form_with url: requests_path, method: :post, local: true do |f| %>
              <%= f.submit "Request invitation", class: "rounded-md px-3.5 py-2 bg-yellow-600 hover:bg-yellow-500 text-white font-medium cursor-pointer" %>
            <% end %>
          <% else %>
            <span class="rounded-md px-3.5 py-2 bg-gray-400 text-white font-medium">
              (Invitation requested)
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @invitations.present? %>
      <h1 class="font-semibold text-3xl my-2">Invitation codes</h1>
      <ol class="list-decimal">
        <% @invitations.each do |invitation| %>
          <li>
            <% if invitation.recipient_user.blank? %>
              <% if invitation.intended_email.present? %>
                <code class="p-2 rounded-sm bg-yellow-100 text-yellow-900"><%= invitation.code %></code> — intended for
                <code class="text-yellow-900"><%= invitation.intended_email %></code>
              <% else %>
                <code class="p-2 rounded-sm bg-blue-100 text-blue-900"><%= invitation.code %></code>
              <% end %>
            <% else %>
              <code class="p-2 rounded-sm bg-gray-100 text-gray-900"><%= invitation.code %></code> — claimed by
              <code class="text-gray-900"><%= invitation.recipient_user.email %></code>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
