<% content_for :title, "Projects" %>

<div class="w-full mx-auto p-2 md:w-2/3">
  <div class="flex items-center gap-2">
    <h1 class="text-3xl">
      Projects
      (<%= @projects.count %>/<%= current_user.project_quota %>)
    </h1>
    <% if current_user && current_user.projects.count < current_user.project_quota %>
      <%= link_to "+ New project", new_project_path, class: "inline-flex select-none items-center gap-2 rounded-md cursor-pointer ml-1 px-4 py-2 my-1 text-medium bg-green-600 text-white font-bold drop-shadow-md hover:bg-green-500", data: { turbo: false } %>
    <% end %>
  </div>

  <div id="projects" class="min-w-full space-y-5">
    <% if current_user.present? and !current_user.confirmed? %>
      <div class="flex justify-center">
        <p class="my-2 py-2 px-3 bg-blue-50 border-blue-200 border-1 text-blue-500 rounded-md inline-block">
          ℹ Your email address has not yet been confirmed. Please
          <%= link_to "confirm your email", new_user_confirmation_path, class: "font-semibold hover:underline" %>
          within three days to maintain access.
        </p>
      </div>
    <% end %>
    <% unless current_user.subscribed? %>
      <div class="rounded-lg border-2 border-blue-500 p-4 text-sky-900 mt-6 mx-auto md:w-3/4">
        <p>
          Thanks for using <span class="font-semibold">PreTeXt.Plus</span>!
          We created this service so anyone can use the free and open-source PreTeXt project to create high-quality and accessible
          scholarly documents. If you'd like to support us, please consider becoming a sustaining subscriber, which helps us fund
          development and keep the service running for everyone. As a sustaining subscriber, you'll also get access to exclusive
          features and early access to new tools.
        </p>
        <div class="mt-4 flex gap-2 items-center">
          <span class="font-semibold">Support PreTeXt.Plus development:</span>
          <%= link_to subscriptions_path, class: "rounded-md px-3.5 py-2 bg-green-600 hover:bg-green-500 text-white font-medium" do %>
            Subscribe
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <% updated_at_local = project.updated_at.localtime %>
        <%= link_to project, class: "block rounded-xl bg-white p-4 m-3 ring-2 ring-gray-100 hover:ring-indigo-200 sm:p-6 lg:p-8", data: { turbo: false } do %>
          <span class="flex items-start sm:gap-8">
            <span class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center" aria-hidden="true">
              <% if project.latex_source_format? %>
                <%= image_tag "latex-pretext-logo.svg", alt: "PreTeXt logo" %>
                <% elsif project.markdown_source_format? %>
                <%= image_tag "markdown-pretext-logo.svg", alt: "PreTeXt logo" %>
              <% else %>
                <%= image_tag "pretext-logo.svg", alt: "PreTeXt logo" %>
              <% end %>
            </span>

            <span>
              <% if project.latex_source_format? %>
                <strong class="rounded-sm border border-orange-500 bg-orange-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  LaTeX-style PreTeXt
                </strong>
              <% elsif project.markdown_source_format? %>
                <strong class="rounded-sm border border-purple-500 bg-purple-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  Markdown-style PreTeXt
                </strong>
              <% else %>
                <strong class="rounded-sm border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white">
                  PreTeXt
                </strong>
              <% end %>

              <h3 class="mt-4 text-lg font-medium sm:text-xl">
                <%= project.title %>
              </h3>

              <p class="mt-1 text-sm text-gray-700">
                Last updated:
                <%= tag.time(
                      "#{time_ago_in_words(project.updated_at)} ago",
                      datetime: project.updated_at.iso8601,
                      title: updated_at_local.strftime('%B %-d, %Y at %-I:%M %p %Z')
                    ) %>
              </p>
            </span>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No projects found.</p>
    <% end %>
  </div>
</div>
