<div>
<% @subscriptions.each do |sub| %>
  <div>
    <div class="text-gray-600 mb-4">
      You are currently subscribed to the
      <span class="font-semibold text-pink-600">
        <%= sub.type.name %>
      </span> plan.
    </div>
    <div class="text-left mb-4">
      <p class="text-gray-600">
        <span class="font-semibold">Renewal Date:</span>
        <%= sub.current_period_end.strftime('%B %d, %Y') %>
      </p>
      <p class="text-gray-600">
        <span class="font-semibold">Price:</span>
        <span class="text-pink-600">
          <%= sub.type.price %>/<%= sub.type.recurrence %>
        </span>
      </p>
    </div>
  </div>
<% end %>

<%= link_to @current_user.payment_processor.billing_portal.url do %>
  Manage payment info
<% end %>

<ul>
<% SubscriptionType.where.not(stripe_price_id: nil).each do |type| %>
  <li><%= link_to checkout_subscription_type_path(type) do %>
    Add subscription for <%= type.name %>
  <% end %></li>
<% end %>
</ul>

</div>